<div id="<%= dom_id quote %>">
  <div>
    <strong>Message:</strong>
    <%= quote.message %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= quote.status %>
  </div>

  <div>
    <strong>User:</strong>
    <%= quote.user_id %>
  </div>

  <div>
    <strong>Service:</strong>
    <%= quote.service_id %>
  </div>

</div>
